PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres

DB_NAME=petengoran_db
DB_NAME_DASHBOARD=dashboard_db

TOPIC4_TABLE=topic4
TOPIC4_TABLE_PETENGORAN=topic4
TOPIC4_TABLE_DASHBOARD=topic4
TOPIC4_LIMIT=100
TOPIC4_OFFSET=0
TOPIC4_MAX_LIMIT=500
